@using TeamProject.Models;
@{
    ViewBag.Title = "Index";
    User user = Session["user"] as User;
}

<div class="container">
    <h2 class="text-center" style="margin-top:150px;">Welcome @user.Firstname @user.Lastname</h2>
</div>


