.timeslots div.col {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
    font-weight: bold;
    justify-content: center;
}

.timeslots .timeslot div {
    /*-moz-border-radius-topleft: 4px;*/
    border-radius: .25em;
    border: 1px solid rgba(0,0,0,.125);
    font-weight: normal;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeslots .timeslot div:first-child {
    border: none;
    font-weight: bold;
    box-shadow:none;
    justify-content:flex-end;
}

.timeslots .timeslot div[value="0"] {
    border: none;
    box-shadow: none;
}

.timeslots .timeslot div[value="2"] {
    background: #F0F0F0;
    box-shadow: none;
}

.timeslots .timeslot div[value="1"] {
    background: #deee86;

}

.timeslots .timeslot div[value="1"]:hover {
    background: #d2e859;
    cursor: pointer;
}

nav.sidenav {
    position: relative;
    top: 100px;
}

nav.sidenav li:hover {
    background: #d2e859;
    cursor: pointer;
}

.timeslot-header div {
    font-size: 48px;
    color: Dodgerblue;
}


