
.timeSlots td:first-child {
    font-weight: bold;
    text-align: right;
}

.timeSlots td:first-child {
    text-align: right;
    padding-top: 20px;
}

.timeSlots th {
    text-align: center;
}

/*for court timeslots*/
.timeSlots td div .icon {
    color: #058035;
    
}

.timeSlots td div {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    cursor: pointer;
}
.timeSlots td, .timeSlotsBooking td {
    margin: 5px;
    font-weight: bold;
    text-align: center;
    width: 12.5%
}

.timeSlots td div:hover {
    cursor: pointer;
}
    
.timeslot-header .fas:hover {
    cursor: pointer;
}



/*form bookings*/
.timeSlotsBooking td a div[booked] {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: .25em;
    border: 1px solid rgba(0,0,0,.125);
    font-weight: normal;
    text-align: center;
    color: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #deee86;
}

.timeSlotsBooking td a[booked]:hover {
    cursor: pointer;
}

.timeSlotsBooking td a[notbooked] {
    display: inline-block;
    background: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: .25em;
    border: 1px solid rgba(0,0,0,.125);
    font-weight: normal;
    text-align: center;
    box-shadow: none;
}

.timeslot-header .fas:hover {
    cursor: pointer;
}

.timeslot-header .fas:active {
    cursor: wait;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
