
.movie-Thumbnail {
    height: 300px;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-margin {
    margin-bottom: 3px;
}

.center {
    position: relative;
    margin-left: auto;
    margin-top: 50%;
}

.margin-toper {
    margin-top: -25%;
    margin-bottom: +25%;
}

.leftmarge {
    margin-left: 30%;
}

.test {
    margin-top: -10%;
    opacity: 0.5;
}
.topper{
    margin-top:10%;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background-color: whitesmoke;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.collor {
    color: cadetblue;
}
