@model TeamProject.ModelsViews.NearestBrachView
@using System.Globalization

@{
    ViewBag.Title = "Nearest Courts";
}
@section styles
{
    <style>
        #map {
            width: auto;
            height: 400px;
            padding-top: 0px;
            padding-bottom: 10px;
            padding-right: 0px;
            padding-left: 0px;
            position: relative;
        }
        .wrap {
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .button {
            width: 140px;
            height: 45px;
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: beige;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }

            .button:hover {
                background-color: #2EE59D;
                box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }
    </style>
}
<h2 class="text-center mt-2">Nearest Pitches</h2>

<div id="map" class="border border-info rounded-lg mb-5 mt-5"></div>
@{
    string listOfBranches = string.Format(CultureInfo.InvariantCulture,
        "['{0}',{1},{2},'{3}','{4}'],", "Center", Model.Latitude, Model.Longitude, string.Empty, string.Empty);
}

@foreach (var branch in Model.Branches)
{
    <div class="card mb-3 rounded rounded-lg border border-success shadow d-flex p-2 bd-highlight d-flex">
        <div class="row no-gutters">
            <div class="col-md-4" style="margin-top:auto;margin-bottom:auto;">
                <img src="~/Images/Branches/@branch.ImageBranch" class="card-img border-success shadow" alt="@branch.Name" style="height:auto;">
                <p class="text-center">@branch.Address</p>
            </div>
            <div class="col-md-8">
                <div class="card-body align-content-end flex-column">
                    <h2 class="card-title text-center">@branch.Name</h2>                   
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <hr />
                    <div class="col">
                        @Html.Partial("FacilitiesPartial", branch.Facility)
                    </div>
                    <br />

                    <div class="wrap">
                        <form action="/Courts/index/@branch.Id">
                            <button class="button" role="button" aria-pressed="true">View details!</button>
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
    listOfBranches += string.Format(CultureInfo.InvariantCulture,
        "['{0}',{1},{2},'{3}','{4}'],", branch.Name, branch.Latitude, branch.Longitude, branch.ImageBranch, branch.Address);

}
@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrnm2ptgfajjtlCfM97wat7Jsx5KZ0UoA&libraries=places"  ></script>
   
    <script>
        var mapzoom = 12;
        var locations = [@Html.Raw(@listOfBranches)];
    </script>
    <script src="~/Scripts/google-maps-nearest.js"></script>
}

