@model TeamProject.ModelsViews.BookViewModel

@{
    ViewBag.Title = "Book";
}

<h2>Book for @Model.Court.Name</h2>
<button id="get-data" class="btn btn-primary">Get Data</button>
<div id="data-container"></div>
@section scripts{
    <script>

        $(document).ready(function () {
            const $button = $('#get-data'),
                $container = $('#data-container');

            $button.on('click', function () {
                $.getJSON('/api/book/@Model.Court.Id').done(function (data) {
                    $container.append('<table>')

                    $([1, 2, 3, 4, 5, 6, 7]).each(function (key, day) {
                        let dayData = data.filter(timeslot => timeslot.Day == day);
                        //console.log(dayData);

                        $(dayData).each(function (key, timeslot) {
                            $container.append('<tr><td>' + timeslot.Hour + '</td><td>' + timeslot.Id + '</td></tr>')
                        });
                    })

                    $container.append('</table>')

                });
            });

        });

    </script>
}

