@model TeamProject.ModelsViews.BookViewModel

@{
    ViewBag.Title = "Book";
}

<h2>Book for @Model.Court.Name</h2>
<button id="get-data" class="btn btn-primary">Get Data</button>
<div id="data-container"></div>
@section scripts{
    <script>

        $(document).ready(function () {
            const $button = $('#get-data'),
                $container = $('#data-container');

            $button.on('click', function () {
                $.getJSON('/api/book/@Model.Court.Id').done(function (data) {
                    let weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

                    console.log(data);
                    let tbody = '';
                    data.map(function (timeslot) {
                        tbody += '<tr>';

                        tbody += '<th>' + timeslot.Hour + '</th>';
                        tbody += '<th>' + timeslot.Day1 + '</th>';
                        tbody += '<th>' + timeslot.Day2 + '</th>';
                        tbody += '<th>' + timeslot.Day3 + '</th>';
                        tbody += '<th>' + timeslot.Day4 + '</th>';
                        tbody += '<th>' + timeslot.Day5 + '</th>';
                        tbody += '<th>' + timeslot.Day6 + '</th>';
                        tbody += '<th>' + timeslot.Day7 + '</th>';
                        tbody += '</tr>';
                    });
                    let table = '<table class="table">' +
                        '<head>' +
                        '<tr><th>Hour</th><th>Monday</th><th>Tuesday</th><th>Thursday</th><th>Wednsday</th><th>Friday</th><th>Saturday</th><th>Sunday</th></tr>' +
                        '</head>'+
                        '<body>' + tbody+
                        '</body>'+
                        '</table > ';
                    $container.append(table);

                });
            });

        });

    </script>
}

