@model TeamProject.ModelsViews.BookViewModel

@{
    ViewBag.Title = "Book";
}
@section styles
    {
        <link rel="stylesheet" href="~/Content/book.css" />
    }
<h2>Book for @Model.Court.Name</h2>
<button id="get-data" class="btn btn-primary">Get Data</button>
<div id="data-container"></div>
@section scripts{
    <script>

        $(document).ready(function () {
            const $button = $('#get-data'),
                $container = $('#data-container');

            $button.on('click', function () {
                $.getJSON('/api/book/@Model.Court.Id').done(function (data) {
                    let weekDays = ["","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].map(function (i) {
                        return '<div class="col">' + i + '</div>';
                    }).join('');

                    console.log(data);
                    let tbody = '';
                    data.map(function (timeslot) {
                        tbody += '<div class="row timeslot">';

                        tbody += '<div class="col">' + timeslot.Hour + '</div>';
                        tbody += '<div class="col">' + timeslot.Day1 + '</div>';
                        tbody += '<div class="col">' + timeslot.Day2 + '</div>';
                        tbody += '<div class="col">' + timeslot.Day3 + '</div>';
                        tbody += '<div class="col">' + timeslot.Day4 + '</div>';
                        tbody += '<div class="col">' + timeslot.Day5 + '</div>';
                        tbody += '<div class="col">' + timeslot.Day6 + '</div>';
                        tbody += '<div class="col">' + timeslot.Day7 + '</div>';
                        tbody += '</div>';
                    });
                    let table = '<div class="timeslots"><div class="row">' + weekDays + '</div>' +
                        tbody +'</div>';
                    $container.append(table);

                });
            });

        });

    </script>
}

