<!-- Footer -->
<footer class="page-footer font-small indigo bg-dark">
    <!-- Footer Links -->
    <div class="container">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    @Html.ActionLink("Courts", "Index", "Courts")
                </h6>
            </div>
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    @Html.ActionLink("About us", "About", "Home")
                </h6>
            </div>
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Awards</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </h6>
            </div>          
        </div>
        
        <hr class="rgba-white-light">

        <!-- Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">        
            <div class="col-md-8 col-12 mt-5 text-secondary">
                <p style="line-height: 1.7rem;">
                    Follow us on Socials!
                </p>
            </div>          
        </div>
        
        @*<hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">*@
       
        <div class="row pb-3" style="margin-top: 25px; margin-bottom:-40px;">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="mb-5 flex-center" style="margin-left:+37%">
                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com" data-toggle="tooltip" data-placement="left"title="Facebook">
                        <img src="~/Images/Footer/Facebook.png" style="width:6%" />
                    </a>&nbsp;&nbsp;&nbsp;
                    <!-- Twitter -->
                    <a class="tw-ic" href="https://wwww.twitter.com" data-toggle="tooltip" data-placement="left"title="Twitter">
                        <img src="~/Images/Footer/Twitter.png" style="width:5%" />
                    </a>&nbsp;&nbsp;&nbsp;                   
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/" data-toggle="tooltip" data-placement="left"title="Instagram">
                        <img src="~/Images/Footer/Instagram.png" style="width:5%" />
                    </a>&nbsp;&nbsp;&nbsp;
                    <!--Pinterest-->
                    <a data-pin-do="buttonPin" data-pin-tall="true" style="width:30%" data-pin-round="true" href="https://www.pinterest.com" data-toggle="tooltip" data-placement="left"title="Pinterest">
                        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" />
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <!--Github-->
                    <a class="pin-ic align-middle" href="https://github.com/CortoMaltese3/TeamProject" data-toggle="tooltip" data-placement="left"title="Github">                       
                            <img src="~/Images/Footer/Github.png" name="github" style="width:5%" />                       
                    </a>

                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-secondary">
        &copy; @DateTime.Now.Year - BookYourCourt - All Rights Reserved
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
