<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="accept-language" content="el-GR">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Join/css/Join.css"
    <link rel="stylesheet" type="text/css" href="~/Content/Join/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Join/css/main.css">
</head>
<body style="background-color: #999999;">

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/Join/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/Join/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Join/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Join/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Join/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/Join/js/main.js"></script>
</body>
</html>
