@using TeamProject.Models;
@{ 
    User user = Session["user"] as User;
}
<ul class="navbar-nav ml-auto">
    @if (Session["user"] != null)
    {
        <li class="nav-item">
            <span class="nav-link">Welcome @user.Firstname!</span>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })
        </li>
    }
    else
    {
        <li class="nav-item">@Html.ActionLink("Join", "Create", "Users", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Sign in", "Index", "Login", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
    }
</ul>