@using TeamProject.Models


<nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark test">
    @Html.ActionLink("TeamProject", "Index", "Home", new { area = "" }, new { @class = "navbar-brand font-italic" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">@Html.ActionLink("Courts", "Index", "Courts", new { area = "" }, new { @class = "navbar-brand" })</li>         
            @if (Session["User"] != null)
            {               
                if(Session["Admin"].Equals("Admin") || Session["Owner"].Equals("Owner"))
                {
                    <li class="nav-item ">
                        @Html.ActionLink("Panel", "Index", "Panel", new { area = "Admin" }, new { @class = "navbar-brand" })
                    </li>
                }
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
