@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="sidenav">
    <a href="/Users">Users</a>
    <a href="#">Facilities</a>
    <a href="#">Companies</a>
    <a href="#">Users Roles</a>
</div>