@*@model IEnumerable<TeamProject.Models.Court>*@
@model TeamProject.Areas.Admin.Controllers.ReportsView
@{
    /**/

    ViewBag.Title = "Reports";
}


<div class="container">
    <h2 class="text-center" style="margin-top:150px;">Branch Total</h2>
</div>
<canvas id="doughnutChart"></canvas>
<br />
@foreach (var court in Model)
{
    <br />
    <h2 class="text-center">@court.Name</h2>
    <canvas id="doughnutChart"></canvas>
}

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
    <script>
        //Branch Charts
        showChart([@Html.Raw(string.Join(",", Model.BranchesReport.Select(b=> b.BookingDay)))], [@Html.Raw(string.Join(",", Model.BranchesReport.Select(b=> b.CountOfBookings)))]);

        function showChart(labels, data) {

            var ctxD = document.getElementById("doughnutChart").getContext('2d');
            var myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#CCAE8F", "#AFB2CB"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#4C2E0F","#232A5E"]
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }
    </script>
}



