@model IEnumerable<TeamProject.Areas.Admin.ViewModels.ReportView>
@{
    /**/

    ViewBag.Title = "Reports";
}
<h2>Total bookings by week days</h2>

@foreach (var report in Model)
{
    <div class="card m-3 shadow-sm">
        <div class="card-header">
            @report.Title 
        </div>
        <div class="card-body">
            <canvas id="chart-@report.Id"></canvas>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
    <script>

        @foreach (var report in Model)
        {
            @Html.Raw($"showChart('chart-{@report.Id}', [{report.Labels}], [{report.Data}]);\n");
        }

        function showChart(chart, labels, data) {

            var ctxD = document.getElementById(chart).getContext('2d');
            var myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#CCAE8F", "#AFB2CB"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#4C2E0F","#232A5E"]
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }
    </script>
}

